@import './player-form.scss';

.logo {
  width: 40vw;
  margin: 2vw auto;
}

.logo img {
  width: 100%;
}

.game-buttons {
  width: 45vw;
  text-align: center;
  margin: 6vw auto;
  display: flex;
  justify-content: space-around;
}

.game-buttons > div {
  margin: 0 1vw 0 1vw;
  background-color: $site-red-drk;
  border: 1vw solid $site-red-drk;
  border-radius: 1vw;
  transition: all 300ms ease;
  cursor: pointer;
}

.game-buttons button {
  color: white;
  font-family: $title-font;
  font-size: 1vw;
  background-color: $site-black;
  border: 1vw solid $site-black;
  border-radius: 1vw;
  transition: all 300ms ease;
  cursor: pointer;
}

.game-buttons > div:hover {
  transform: scale(1.1,1.1);
}

.game-buttons > div:hover > button {
  color: $site-red;
}

.howto-container {
  position: fixed;
  top: 20vh;
  right: -20vw;
  width: 15vw;
  background-color: $site-brown;
  border: 1vw solid $site-brown;
  border-radius: 1vw;
  text-align: right;
  transition: all 500ms ease-in-out;
}

.howto-container span{
  color: white;
  cursor: pointer;
}

.howto-container span:hover{
  color: $site-red;
}

.howto-container p{
  text-align: left;
  margin-top: 1vw;
  background-color: $site-yellow-lgt;
  border: 1vw solid $site-yellow-lgt;
  border-radius: 1vw;
}

.howto-enter {
  right: 0%;
}