.game-lose {
  text-align: center;
}

.lose-box {
  position: relative;
  text-align: left;
  margin: 4vw auto;
  width: 50vw; 
  height: 37.5vw;
}

.lose-box img {
  position: absolute;
  width: 100%;
}

@media (max-width: 1024px) {
  .lose-box {
    width: 70vw; 
    height: 50vw;
  }
}

@media (max-width: 768px) {
}