.game-box {
  width: 60vw;
  margin: 10vh auto;
  background-color: $site-red-drk;
  border: 1vw solid $site-red-drk;
  border-radius: 1vw;
  padding: 0.5vw;
}

.game-box > div {
  border: 1vw solid $site-black;
  border-radius: 1vw;
  background-image: url('../../public/assets/game-bg-pattern.png');
}