.main-game > section:first-of-type {
  text-align: center;
  margin: 1vw auto;
  width: 18vw;
}

.main-game section:first-of-type img {
  cursor: pointer;
  width: 100%;
}

.game-box {
  width: 60vw;
  margin: 2vh auto 1vh auto;
  background-color: $site-red-drk;
  border: 1vw solid $site-red-drk;
  border-radius: 1vw;
  padding: 0.5vw;
}

.game-content {
  position: relative;
  height: 32vw;
  border: 1vw solid $site-black;
  border-radius: 1vw;
  background-image: url('../../public/assets/game-bg-pattern.png');
}

.game-content > div, .game-content ul, .counter-box {
  position: absolute;
}

.game-content > div {
  padding: 1vw;
}

.game-content img {
  width: 100%;
}

.game-keys {
  display: flex;
  left: 2.3vw;
  top: 2.5vw;
  width: 20vw;
  justify-content: space-around;
}

.game-keys li {
  padding: 1vw;
  transition: all 600ms ease-in-out;
}

.game-buttons, .game-bases {
  display: flex;
  justify-content: space-between;
  left: 28.5vw;
  top: 15vw;
  width: 22vw;
}

.game-buttons li, .game-bases li {
  padding: 0.5vw;
  width: 5vw;
  height: 5vw;
  background-size: cover;
}

.game-bases li {
  background-image: url('../../public/assets/game-button-base.png');
}

.game-buttons li{
  background-image: url('../../public/assets/game-button.png');
  cursor: pointer;
}

.initial-pos-key1 {
  transform: translate(25.3vw, 12vw);
}

.initial-pos-key2 {
  transform: translate(27.2vw, 12vw);
}

.initial-pos-key3 {
  transform: translate(29vw, 12vw);
}

.game-buttons li:hover {
  background-image: url('../../public/assets/game-button-hover.png');
}

.game-buttons li:active {
  background-image: url('../../public/assets/game-button-click.png');
}

.counter-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // outline: 1px solid red;
  width: 21vw;
  height: 4vw;
  left: 2.3vw;
  top: 23.5vw;
}

.counter-box hr {
  width: 0.3vw;
  height: 100%;
  border: 0;
  border-left: 0.3vw dotted $site-black;
}

.counter-box div:first-child {
  font-family: $title-font;
  text-align: center;
}

.counter-box p {
  font-size: 2vw;
}

.counter-box form {
  text-align: center;
  font-family: $title-font;
}

.counter-box form h4 {
  margin-bottom: 0.5vw;
}

.counter-box form input:first-of-type, .riddle-box form input:first-of-type {
  font-size: 1vw;
  width: 4vw;
  border: 0;
  border-radius: 0.2vw;
  vertical-align: middle;
  margin-right: 1vw;
}

.counter-box form input:last-of-type, .riddle-box form input:last-of-type, .help-buttons button {
  background-color: $site-red-drk;
  border: 0.2vw solid $site-red-drk;
  border-radius: 0.5vw;
  padding: 0.2vw;
  font-family: $title-font;
  font-size: 0.8vw;
  color: white;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.counter-box form input:last-of-type:hover, .riddle-box form input:last-of-type:hover, .help-buttons button:hover {
  color: $site-red;
  transform: scale(1.1);
}

.riddle-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  padding: 1vw;
  margin: 0 auto 4vh auto;
  background-color: $site-yellow-lgt;
  border: 1vw solid $site-brown;
  border-radius: 1vw;
}

.riddle-box div:first-child {
  flex: 0 0 70%;
  
}

.riddle-box p {
  height: 5vw;
}

.riddle-box form input:first-of-type {
  width: 10vw;
}

.riddle-box form span {
  margin-left: 1vw;
}

.help-buttons {
  flex: 0 0 30%;
  text-align: center;
}

.help-buttons button {
  width: 7vw;
}

.help-buttons button:first-child {
  margin-bottom: 1vw;
}

.hint-box {
  position: fixed;
  top: 20vh;
  left: -20vw;
  width: 15vw;
  background-color: $site-brown;
  border: 1vw solid $site-brown;
  border-radius: 1vw;
  transition: all 500ms ease-in-out;
  text-align: right;
}

.hint-box span{
  color: white;
  cursor: pointer;
}

.hint-box span:hover{
  color: $site-red;
}

.hint-box p{
  text-align: left;
  margin-top: 1vw;
  background-color: $site-yellow-lgt;
  border: 1vw solid $site-yellow-lgt;
  border-radius: 1vw;
}

.final-code {
  position: fixed;
  bottom: 10vh;
  left: -20vw;
  width: 15vw;
  background-color: $site-brown;
  border: 1vw solid $site-brown;
  border-radius: 1vw;
  transition: all 500ms ease-in-out;
  text-align: center;
}

.final-code p {
  background-color: $site-yellow-lgt;
  border: 1vw solid $site-yellow-lgt;
  border-radius: 1vw;
  font-size: 3vw;
}

.aside-enter {
  left: 0%;
}

@media (max-width: 1024px) {
  .game-box {
    width: 70vw;
  }
  .game-content {
    height: 38vw;
  }
  .game-keys {
    left: 2.3vw;
    top: 2.5vw;
    width: 24vw;
  }
  .counter-box {
    width: 25vw;
    height: 4vw;
    left: 2vw;
    top: 27.5vw;
  }

  .counter-box h4{
    font-size: 1.4vw;
  }

  .game-buttons, .game-bases {
    left: 33.5vw;
    top: 16vw;
    width: 25vw;
  }
  
  .game-buttons li, .game-bases li {
    width: 6.5vw;
    height: 6.5vw;
  }

  .initial-pos-key1 {
    transform: translate(30.5vw, 13vw);
  }
  
  .initial-pos-key2 {
    transform: translate(31.8vw, 13vw);
  }
  
  .initial-pos-key3 {
    transform: translate(33vw, 13vw);
  }

  .riddle-box {
    width: 70vw;
  }

  .riddle-box p {
    min-height: 8vw;
  }

  .help-buttons {
    flex: 0 0 30%;
    text-align: center;
  }
  
  .help-buttons button {
    width: 12vw;
  }
  
  .counter-box form input:last-of-type, .riddle-box form input:last-of-type, .help-buttons button {
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .game-box {
    width: 80vw;
  }
  .game-content {
    height: 46vw;
  }
  .game-keys {
    left: 2.3vw;
    top: 2.8vw;
    width: 28.8vw;
  }
  .counter-box {
    width: 26vw;
    height: 4vw;
    left: 4vw;
    top: 32.2vw;
  }
  .counter-box h4{
    font-size: 1.5vw;
  }
  .game-buttons, .game-bases {
    left: 38.5vw;
    top: 18.5vw;
    width: 30vw;
  }
  
  .game-buttons li, .game-bases li {
    width: 8vw;
    height: 8vw;
  }

  .initial-pos-key1 {
    transform: translate(35.5vw, 15.2vw);
  }
  
  .initial-pos-key2 {
    transform: translate(36.7vw, 15.2vw);
  }
  
  .initial-pos-key3 {
    transform: translate(38.2vw, 15.2vw);
  }

  .riddle-box {
    width: 80vw;
  }

  .riddle-box p {
    min-height: 14vw;
  }

  .help-buttons {
    flex: 0 0 30%;
    text-align: center;
  }
  
  .help-buttons button {
    width: 15vw;
  }
  .counter-box form input:last-of-type, .riddle-box form input:last-of-type, .help-buttons button {
    font-size: 2vw;
  }
}

//////animation
.button-away {
  animation: button-away 600ms ease-in-out forwards;
}

@keyframes button-away {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.pulse {
  animation: pulse 500ms ease-in-out forwards;
}

@keyframes pulse {
  0% {
    color: $site-black;
    transform: scale(1);
  }
  50% {
    color: $site-red;
    transform: scale(1.1);
  }
  100% {
    color: $site-black;
    transform: scale(1);
  }
}

.shake {
  animation: shake 250ms ease-in-out forwards;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    outline:5px solid $site-red;
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5%);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    outline:5px solid $site-red;
    transform: translateX(0);
  }
}