$site-yellow-lgt:  #d1a056;
$site-yellow:      #d1881b;
$site-yellow-drk:  #bf7719;
$site-brown:       #874F1D;
$site-red:         #b80117;
$site-red-drk:     #562c2c;
$site-black:       #261E1c;
$title-font: 'Righteous', cursive;
$base-font: 'Roboto', sans-serif;

@import './game-start.scss';
@import './game-main.scss';
@import './game-win.scss';
@import './game-lose.scss';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-image: url('../../public/assets/bgpattern.jpg');
  background-size: contain;
  font-family: $base-font;
  font-size: 1vw;
}

*:focus {
  outline: 0;
}

.hide {
  opacity: 0;
}

.title-font {
  font-family: $title-font;
}

.vis-none {
  visibility: hidden;
}

.dis-none {
  display: none;
}


//global animation
.zoom-enter {
  animation: zoomenter 400ms ease-in  forwards ;
}
@keyframes zoomenter {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.enter-bottom {
  animation: enter-bottom 400ms ease-in-out  forwards ;
}
@keyframes enter-bottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  80% {
    transform: translateY(-2%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadezoombump{
  animation: zoombump 400ms ease-in  forwards ;
}
@keyframes zoombump {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  60% {
    transform: scale(1.05, 1.05);
    opacity: 1;
  }
  80% {
    transform: scale(0.95, 0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.fadezoombump-hero{
  animation: zoombump-big 600ms ease-in  forwards ;
}
@keyframes zoombump-big {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  40% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  60% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  } 
  80% {
    transform: scale(1.02, 1.02);
    opacity: 1;
  }
  90% {
    transform: scale(0.98, 0.98);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}