$site-yellow-lgt:  #d1a056;
$site-yellow:      #d1881b;
$site-yellow-drk:  #bf7719;
$site-brown:       #874F1D;
$site-red:         #b80117;
$site-red-drk:     #562c2c;
$site-black:       #261E1c;
$title-font: 'Righteous', cursive;
$base-font: 'Roboto', sans-serif;

@import './game-start.scss';
@import './game-main.scss';
@import './game-win.scss';
@import './game-lose.scss';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-image: url('../../public/assets/bgpattern.jpg');
  background-size: contain;
  font-family: $base-font;
  font-size: 1vw;
}

button {
  font-size: 1vw;
}

*:focus {
  outline: 0;
}

.hide {
  opacity: 0;
}

.title-font {
  font-family: $title-font;
}

.vis-none {
  visibility: hidden;
}

.dis-none {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: $site-red;
}

.end-menu {
  display: inline-block;
  margin: 1vw auto;
  text-align: center;
  background-color: $site-red-drk;
  border: 0.5vw solid $site-red-drk;
  border-radius: 0.5vw;
  transition: all 300ms ease;
  cursor: pointer;
}

.end-menu button {
  color: white;
  font-family: $title-font;
  background-color: $site-black;
  border: 0.5vw solid $site-black;
  border-radius: 0.5vw;
  transition: all 300ms ease;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 0.8vw;
}

.end-menu:hover {
  transform: scale(1.1,1.1);
}

.end-menu:hover > button {
  color: $site-red;
}

@media (max-width: 1024px) {
  body, button {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  body, button {
    font-size: 3vw;
  }
}


//global animation
.zoom-enter {
  animation: zoomenter 400ms ease-in  forwards ;
}
@keyframes zoomenter {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.enter-bottom {
  animation: enter-bottom 400ms ease-in-out  forwards ;
}
@keyframes enter-bottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  80% {
    transform: translateY(-2%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadezoombump{
  animation: zoombump 400ms ease-in  forwards ;
}
@keyframes zoombump {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  60% {
    transform: scale(1.05, 1.05);
    opacity: 1;
  }
  80% {
    transform: scale(0.95, 0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.fadezoombump-hero{
  animation: zoombump-big 600ms ease-in  forwards ;
}
@keyframes zoombump-big {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  40% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  60% {
    transform: scale(0.9, 0.9);
    opacity: 1;
  } 
  80% {
    transform: scale(1.02, 1.02);
    opacity: 1;
  }
  90% {
    transform: scale(0.98, 0.98);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}