.player-form {
  position: relative;
  width: 22vw;
  margin: -2.5vw auto;
  background-color: $site-brown;
  border: 1.3vw solid $site-brown;
  border-radius: 1.3vw;
  z-index: 9;
}

.player-form form, .player-form > div {
  background-color: $site-yellow-lgt;
  border: 1.3vw solid $site-yellow-lgt;
  border-radius: 1.3vw;
}

.player-form ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-form ul li {
  flex: 0 0 45%;
  margin-bottom: 0.5vw;
}

.player-form ul li:last-child {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.player-form ul input {
  text-align: center;
}

.player-form ul li:last-child button {
  background-color: $site-red-drk;
  border: 10px solid $site-red-drk;
  border-radius: 10px;
  font-family: $title-font;
  color: white;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.player-form ul li:last-child button:hover {
  color: $site-red;
}

.player-form form label, .player-form form select, .player-form input, .player-form button {
  font-size: 1vw;
  vertical-align: middle;
  border-radius: 5px;
  border: 0;
  width: 100%;
}

.player-form form select {
  font-size: 0.8vw;
}

.player-form > div {
  padding: 2vw 0 2vw 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .player-form {
    width: 33vw;
    margin: -3.5vw auto; 
  }
  .player-form ul li {
    flex: 0 0 50%;
  }
  
  .player-form form label, .player-form form select, .player-form input, .player-form button {
    font-size: 1.6vw;
  }
  .player-form ul li:last-child button {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .player-form {
    width: 50vw;
    margin: -3.5vw auto; 
  }
  .player-form ul li {
    flex: 0 0 50%;
    margin-bottom: 1vw;
  }
  
  .player-form form label, .player-form form select, .player-form input, .player-form button {
    font-size: 2.2vw;
  }
  .player-form ul li:last-child button {
    font-size: 3vw;
  }
}